<%--ZD 100147 start--%>
<%--/* Copyright (C) 2015 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/--%>
<%--ZD 100147 ZD 100886 End--%>
<%@ Page Language="C#" AutoEventWireup="true" Inherits="ns_MyVRM.EditBlockEmail" %>

<%@ Register Assembly="DevExpress.Web.ASPxHtmlEditor.v10.2, Version=10.2.11.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web.ASPxHtmlEditor" TagPrefix="dxHE" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <!-- FB 2050 -->
<meta http-equiv="X-UA-Compatible" content="IE=8" /> <!-- FB 2050 --> <%--FB 2779--%>
<!-- #INCLUDE FILE="inc/maintopNET.aspx" --> <html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Edit BlockEmai</title>
</head>
<body>
    <form id="form1" autocomplete="off" runat="server"><%--ZD 101190--%>
    <input id="hdnEmailContID" name="hdnEmailContID" runat="server" type="hidden" />
    <input id="hdnEmailLangID" name="hdnEmailLangID" runat="server" type="hidden" />
    <input id="hdnEmailLangName" name="hdnEmailLangName" runat="server" type="hidden" />
    <input id="hdnPlaceHolders" name="hdnPlaceHolders" runat="server" type="hidden" />
    <input id="hdnCreateType" name="hdnCreateType" runat="server" type="hidden" />
    <input id="hdnEmailMode" name="hdnEmailMode" runat="server" type="hidden" />
    <input id="hdnuserid" name="hdnuserid" runat="server" type="hidden" />
    <input id="hdnImg" name="hdnImg" runat="server" type="hidden" />
    
    <div>
     <%--ZD 101022 start--%>
        <asp:ScriptManager ID="scpMgrUI" runat="server" EnableScriptLocalization="true" >
		    <Scripts>                
			    <asp:ScriptReference Path= "~/ResourceScript/StringResources.js" ResourceUICultures="<%$ Resources:WebResources, UICulture%>"  />
		    </Scripts>
	    </asp:ScriptManager> <%--ZD 101022 End--%>
    <h3><asp:Literal Text="<%$ Resources:WebResources, EditBlockEmail_EditBlockMail%>" runat="server"></asp:Literal></h3>
     <asp:Label ID="errLabel" runat="server" Text="" CssClass="lblError" Visible="False"></asp:Label><br />
     <table width="80%" border="0" cellpadding="5">
        <tr>
            <td width="20%" valign="top" align="left" class="blackblodtext">
                <asp:Literal Text="<%$ Resources:WebResources, EditBlockEmail_From%>" runat="server"></asp:Literal>
                <asp:ImageButton ID="imgFrom" src="image/info.png" AlternateText="Info" runat="server" style="cursor:default" ToolTip="<%$ Resources:WebResources, FromImgToolTip%>" OnClientClick="javascript:return false;"/> <%--ZD 100300--%><%-- ZD 102590 --%>
            </td>
            <td align="left" colspan="2" >
                <asp:TextBox ID="txtFrom" runat="server" Width="220px" CssClass="altText"></asp:TextBox>
            </td>
        </tr>
        <tr>           
            <td align="left" class="blackblodtext" valign="top"><asp:Literal Text="<%$ Resources:WebResources, EditBlockEmail_To%>" runat="server"></asp:Literal></td>
            <td colspan="2">
                <asp:TextBox ID="txtTo" runat="server" Width="220px" CssClass="altText"></asp:TextBox>
            </td>
        </tr>        
        <tr>
            <td valign="top" align="left" class="blackblodtext" nowrap=""><asp:Literal Text="<%$ Resources:WebResources, EditBlockEmail_EmailSubject%>" runat="server"></asp:Literal></td>
            <td align="left" width="70%" colspan="2"> 
                <asp:TextBox ID="txtEmailSubject" runat="server" Width="85%" CssClass="altText">
                </asp:TextBox>
            </td>                             
        </tr>       
        <tr>
            <td valign="top" align="left" class="blackblodtext" nowrap="">
                <asp:Literal Text="<%$ Resources:WebResources, EditBlockEmail_EmailMessage%>" runat="server"></asp:Literal>
            </td>
            <td style="width:85%" align="left" valign='top' colspan="2">
                <dxHE:ASPxHtmlEditor ID="dxHTMLEditor" AccessibilityCompliant="true" runat="server" Width="100%">
                <ClientSideEvents LostFocus="function(s,e){fnSetFocus();}" /><%--ZD 100420--%>
                </dxHE:ASPxHtmlEditor>
           </td>
        </tr>       
        <tr>
            <td></td>
            <td colspan="2">
                <table width="100%" align="center">
                    <tr>
                        <td align="right">
                            <asp:Button Text="<%$ Resources:WebResources, EditBlockEmail_btnCancel%>" runat="server" ID="btnCancel" CssClass="altMedium0BlueButtonFormat" OnClick="RedirectToTargetPage"/>
                        </td>
                        <td width="2%"></td>
                        <td>
                             <asp:Button Text="<%$ Resources:WebResources, Submit%>" runat="server" ID="btnSubmit" CssClass="altMedium0BlueButtonFormat" OnClick="SetBlockEmail" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </div>
    </form>
</body>
</html>
<script type="text/javascript">
function changeFocus()
{
  // FB 2050
  var obj2 = document.getElementById("txtFrom"); // For EditBlockEmail Page
  if(obj2 != null)
  obj2.focus();
}
window.onload = changeFocus;
</script>
 <!-- #INCLUDE FILE="inc/mainbottomNET.aspx" -->
 <script>
 if (document.getElementById('dxHTMLEditor_TD_T0_DXI15_I')) //To hide ImageButton in Control
     document.getElementById('dxHTMLEditor_TD_T0_DXI15_I').style.display = 'none'
//ZD 100420 - Start
 function fnFocusMenu() {
     if (document.getElementById("menuHome") != null)
         document.getElementById("menuHome").focus();
     else if (document.getElementById("menuHomeBlue") != null)
         document.getElementById("menuHomeBlue").focus();
     else
         document.getElementById("menuHomeRed").focus();
 }
 var glob = false;
 function fnSetFocus() {
     if (navigator.userAgent.indexOf('Trident') > -1 && glob)
         document.getElementById("dxHTMLEditor_TC_T1T").focus();
     if (navigator.userAgent.indexOf('Chrome') > -1 && !glob)
         setTimeout('fnFocusMenu();', 100);
     glob = true;
     document.getElementById("dxHTMLEditor_FFI").setAttribute("tabindex", "-1");
 }
 document.getElementById("txtFrom").setAttribute("onfocus", "window.scrollTo(0,0)")
//ZD 100420 - End
 </script>
